/* UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* more on this crazy alphanumerical value in a minute! */
/* adds color to the font of the entire page */
body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLES START */
/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex; /* default is row so no need to declare */
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  margin: 7px 0;
}

/* this makes the list under nav, be inline instead of a list */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none; /* removes markers bc it's a list */
}

header nav ul li a {
  padding: 10px 15px; /* changed from margin: 0 30px; to create a tighter navigation menu */
  font-weight: lighter;
  font-size: 1.55vw;
}
/* HEADER STYLES END */

/* FOOTER STYLES START */
footer {
  background-color: #fce138;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76;
}
/* FOOTER STYLES END */

/* STYLE ALL SECTION TAGS */
/* this gives space around the form box and the h2 section headers */
section {
  padding: 60px;
}

/* HERO STYLES START */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover; /* styles hero background image size */
  background-position: center; /* styles hero background image location, helps zoom out */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; /* added in 2.3.5 */
}

.hero-cta {
  width: 35%; /* container width size = 35% of browser width */
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2; /* changed from 1.3 to make text easier to read */
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}

.hero-form {
  width: 40%;
  margin: 3.5%;
  border: 3px solid #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0px;
}

/* this selects the p in the class hero-form */
.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block; /* this makes the inline text go to a separate line */
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%; /* this makes the white box be 100% width of the parent but also taking the content padding into consideration */
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px; /* adds space to the left of the labels */
}

.hero-form button {
  font-size: 16px;
  color: #fce138;
  background-color: #024e76;
  padding: 10px 20px;
  border: none; /* this removes the default border the button comes w */
}
/* HERO STYLES END */

/* WHAT WE DO STYLES START */
.intro p {
  font-size: 20px;
  color: #39a6b2;
  text-align: center;
  line-height: 1.7;
  width: 80%; /* shrinks width of paragraph, and para. is not centered, just the text inside of it */
  margin: 0 auto; /* centers a block element with a width less than 100% */
}
/* WHAT WE DO STYLES END */

/* WHAT YOU DO STYLES  START */
.steps {
  background: #fce138;
}

.step { /* parent 1 */
  margin: 50px auto; /* clears area outside the border and is transparent */
  padding-bottom: 50px; /* space btw content container and border */
  width: 80%; /* 80% of parent container size within margin*/
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.step h3 { /* child 1a */
  color: #024e76;
  font-size: 46px;
  margin-top: 10px;
  flex: 1 30%; /* 1=flex-grow 30%=flex-basis --> .step h3 will be at least 30% wide and will receive any extra space in the container */
}

.step-info { /* child 1b and parent 2 */
  flex: 2 70%; /* 2=flex-grow 70% flex-basis --> .step-info will be at least 70% wide but will receive any extra space in the container at a 2-to-1 ratio, so it will receive 2 more units of unused space than a sibling with a flex-grow of 1 */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img { /* child 2a */
  flex: 1 12%; /* giving it a flex-basis prevent the flexbox parent from ignoring it!! -->  .step-img at the very least must be 12% of the width of .step-info */
  margin-right: 20px;
}

.step-img img {
  max-width: 100%; /* limits width of img to whatever its container is --> this fixes an issue that can arise with other browsers */
}

.step-text { /* child 2b --> need to give this child it's needs */
  flex: 12; /* flex-grow --> .step-text will be alloted 12x more unused space than .step-img --> flex-basis here is auto, which allows it to be whatever width is left over */
}

.step-text p {
  color: #39a6b2;
  font-size: 18px;
}

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024e76;
}
/* WHAT YOU DO STYLES END */

/* STYLES Repeated For what-we-do what-you-do meet-the-trainers reach-out titles START */
.section-title {
  font-size: 48px; /* changed from 55px bc 48px is big enough for all screens and 55px would be cramped for mobile screen */
  text-align: center;
  color: #024e76;
  padding-bottom: 20px;
  border-bottom: 3px solid;
  margin: 0 auto 35px auto;
  width: 50%; */ 50% of parent container (inside padding) */
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}
/* STYLES Repeated For what-we-do what-you-do meet-the-trainers reach-out titles END */

/* MEET THE TRAINERS STYLE START */
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  margin: 20px;
  background: #024e76;
  color: #fce138;
  flex: 1; /* flex-grow=1 --> means children will share any extra space evenly */
}

.trainer img {
  width: 100%;
}

.trainer-bio {
  line-height: 1.3;
  padding: 25px;
}

.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.trainer-bio p {
  font-size: 17px;
}
/* MEET THE TRAINERS STYLES END */

/* REACH OUT STYLES START */
.contact {
  background-color: #024e76;
}

.contact h2 {
  color: #fce138;
}

/* included the class of the parent just to be more specific --> bc if you just used .iframe and added another .iframe to the html then that one would be affected too */
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * { /* apply the preceding styles to the three flexbox child elements in the contact-info flexbox container instead of doing it for each 1 */
  flex: 1; /* all children spaced out evenly */
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  /* module has .contact-info h3 */
  font-size: 32px;
  color: #fce138;
}

.contact-info p,
.contact-info address {
  /* use a comma to separate the two class element combos */
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  margin: 20px 0; /* margin for top and bottom + left and right */
}

.contact-form input, .contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contact-form button {
  width: 100%;
  border: none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}

.contact-info a {
  color: #fce138;
}
/* REACH OUT STYLES END */

/* UTILITY CLASSES STYLES START */
.text-left {
  text-align: left;
}

.text-right {
  /* it's good to keep class names generic to be used wherever */
  text-align: right;
}

.flex-row {
  display: flex; /* don't need flex-direction bc default is row */
}
/* UTILITY CLASSES STYLES END */

/* MEDIA QUERIES START */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div { /* applied to both footer children */
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta { /* don't want to center form */
    text-align: center;
  }

  .section-title {
    width: 80%; /* makes them wider on smaller screens */
  }
  
  .trainer {
    flex: 0 70%; /* made cards just wide enough to be on their own row --> flex-grow is set to 0, it won't grow to take up unused space and will stay at the 70% we used for flex-basis */
  }
  
  .contact-info iframe{
    flex: 1 100%; /* to get google map to get its own row */
  }
}
/* Because both the <header> and <footer> elements are flex containers, we only had to tell both of their children to be 100% of the width. Because flex-wrap is turned on to wrap overflowing content, it allows both children to get their own row one on top of the other. The only thing we need to do then is adjust their justification properties to center them on the page, and adjust some font sizes and spacing to tighten up the design. */

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%; /* to give h3 its own row! 100% of parent */
    text-align: center;
  }

  .step-info {
    flex: 2 100%; /* .step-info will be at least 100% wide but will receive any xtra space container at a 2-to-1 ratio */
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%; /* We didn't want the icon to become the full width, however, because it would get too large. So we capped it at 32% width using flex-basis and told it not to take up any extra unused space by setting flex-grow to 0 */
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  /* flex-basis */
  }
}

@media screen and (max-width: 575px) {

  .hero-form button {
    width: 100%; /* make button 100% size of parent container */
  }

  .section-title {
    width: 95%; /* inc size of section titles */
  }
  .intro p {
    width: 100%; /* paragraph for what we do sxn takes full space of parent container */
  }

  .trainer {
    flex: 0 100%; /* flex-grow = 0 = don't grow, flex-basis = 100% = trainer cards take up 100% of parent container */
  }

  .contact-info > * {
    flex: 0 100%; /* don't grow, all children take up 100% of parent container */
  }

  .contact-form {
    order: 3; /* to make it be the 3rd child down (changed the order of the children) */
  }
}
